:root {
    /*========== Colors ==========*/
    --first-color: #0e2342;
    --first-color-alt: #0a58ca;
    --body-color: #fff;
    --text-color: #0f0f0f;
    --second-color: #F5F5F5;

    --textFont: 'Roboto', sans-serif;
    /* --title-color:
   
     */
  
    /*========== typography ==========*/
    --biggest-font-size: 3rem;
    --h1-font-size: 2.8rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
  }
  
  /* Responsive typography */
  @media screen and (min-width: 968px) {
    :root {
      --biggest-font-size: 3.6rem;
      --h1-font-size: 3rem;
      --h2-font-size: 2.4rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: var(--textFont);
}

*, *:before, *:after {
box-sizing: inherit;
}

h1, h2, h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
  text-decoration: none;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
/* ==========HEADER=========== */

.header {
  background-color: var(--second-color);
}
.header-layout{
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
   .header-layout{
    flex-direction: row;
    justify-content: space-between;
   }
}
.header-logo {
  font-size: var(--h1-font-size);
  font-weight: 700;
  color: #e2891c;
  cursor: pointer;
}
.header-logo span {
  font-weight: 900;
  color: #000;
}

/* ===========SEARCH FORM =========== */

.search-form {
  width: 500px;
}
@media (min-width: 992px) {
  .search-form {
    width: 500px;
  }
}
.search-box{
  position: relative;
}
.search-box input[type="text"]{
  width: 100%;
  font-family: var(--textFont);
  border: 1px solid #ccc;
  border-radius: .5rem;
  padding: 1rem;
  outline: none;
  transition: 0.2s ease all;
  color: #211e1e;
}
.search-box input[type="text"]:focus{
  border: 1.5px solid #3aa8db ;
}
.search-box button {
  max-width: 100%;
  position: absolute;
  right: 0;
  border: none;
  background-color: transparent;
  padding: .8rem 1rem;
  color: #0e0d0d;
  cursor: pointer;
  border-left: 1px solid #ccc;
}
.search-box svg {
  width: 20px;
}