:root {
    /*========== Colors ==========*/
    --first-color: #294b7f;
    --first-color-alt: #2d6eaf;
    --body-color: #fff;
    --text-color: #0f0f0f;
    --second-color: #ffffff;

    --textFont: "Roboto", sans-serif;
    --title-color: #260c22;
    /* 
        --yt-spec-text-primary: #f1f1f1;
        --yt-spec-text-primary-inverse: #0f0f0f;

        --yt-spec-icon-inactive: #fff;
        --yt-spec-icon-disabled: #717171;
        --yt-spec-brand-icon-inactive: #fff;
     */


    /*========== typography ==========*/
    --biggest-font-size: 3rem;
    --h1-font-size: 2.8rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.6rem;
    --normal-font-size: 1.5rem;
    --small-font-size: 1.4rem;
    --smaller-font-size: 1.3rem;
    --tiny-font-size: 1.2rem;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 3.6rem;
        --h1-font-size: 3rem;
        --h2-font-size: 2.4rem;
        --h3-font-size: 1.8rem;
        --normal-font-size: 1.6rem;
        --small-font-size: 1.5rem;
        --smaller-font-size: 1.4rem;
    }
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
body {
    font-size: 16px;
    min-height: 100%;
    font-family: var(--textFont);
    background-color: var(--body-color);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
h2,
h3 {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: #0e0d0d;
}
.container {
    max-width: 1225px;
    width: 95%;
    margin: 0 auto;
}
.minvh {
    min-height: 88vh;
}
.skeleton{
    animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes skeleton-loading {
    0%{
        background-color: hsl(200, 20%, 75%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}
/*========== Variables Dark theme ==========*/
/* #313338  #0f0f0f #f1f2f4*/

.dark body{
    --body-color: #1a1b1d ;
    --title-color: #f1f2f4;
    --text-color: #f1f2f4;
}

/*========== 
    Color changes in some parts of 
    the website, in Dark theme
==========*/
.dark .header{
    background-color: var(--body-color);
}
.dark .header-logo{
    color: #fff;
}
.dark .header-logo span {
    color: #00bcd4;
}
.dark .Auth-container a {
   color: #aaaaaa; 
}
.dark .shopCart {
   border: 1px solid rgb(255 255 255 / 10%); 
}
.dark .shopCart svg{
   color: #f1f1f1; 
}
.dark .percentage-discount{
    color: #aaaaaa;
}
.dark .showproduct-btn {
    background-color: rgb(255 255 255 / 10%);
    color: #f1f1f1;
}
.dark .footer {
    background-color: rgb(255 255 255 / 10%);
}

/* ==========HEADER=========== */

.header {
    position: sticky;
    top: 0;
    z-index: var(--z-fixed);
    background-color: var(--second-color);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.284);
    padding: 1rem 0;
}
.header-layout {
    display: grid;
    row-gap: 0.5rem;
    align-items: center;
    place-items: center;
}
@media (min-width: 600px) {
    .header-layout {
        column-gap: 3rem;
        grid-template-columns: auto auto;
    }
    .search-form {
        grid-row: 2/3;
        grid-column: 1/3;
        justify-self: center;
    }
    .header-layout a {
        justify-self: end;
    }
    .header-auth_div {
        justify-self: start;
    }
}

@media (min-width: 992px) {
    .header-layout {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
.header-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #cc0000;
    cursor: pointer;
}
@media (min-width: 480px) {
    .header-logo {
        font-size: var(--h1-font-size);
    }
}
.header-logo span {
    font-weight: 900;
    color: #000;
}

/* ===========SEARCH FORM =========== */

.search-form {
    width: 90%;
}
@media (min-width: 576px) {
    .search-form {
        width: 500px;
    }
}
.search-box {
    position: relative;
}
.search-box input[type="text"] {
    width: 100%;
    font-family: var(--textFont);
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem;
    padding-right: 40px;
    outline: none;
    transition: 0.2s ease all;
    color: #211e1e;
}
.search-box input[type="text"]:focus {
    border: 1.5px solid #3aa8db;
}
.search-box button {
    max-width: 100%;
    position: absolute;
    right: 0;
    border: none;
    background-color: transparent;
    padding: 0.8rem 1rem;
    color: #0e0d0d;
    cursor: pointer;
    border-left: 1px solid #ccc;
}
.search-box svg {
    width: 20px;
}
/* ============Shopping Cart =========== */
.header-auth_div {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    margin-right: .2rem;
}
@media (min-width: 992px) {
    .header-auth_div {
        gap: 2rem;
    }
}
.shopCart {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 0.8rem;
    align-content: center;
    width: 4.5rem;
    height: 4.5rem;
    transition: 0.5s ease all;
}
.shopCart:hover {
    cursor: pointer;
    background-color: #2d6eaf;
}
.shopCart svg {
    width: 2.5rem;
    color: #1278de;
}
@media (min-width: 480px) {
    .shopCart {
        width: 5rem;
        height: 5rem;
    }
    .shopCart svg {
        width: 3rem;
    }
}
.shopCart:hover svg {
    transition: 0.5s ease all;
    color: #fff;
}
.shopCart-badge {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #c00;
    color: #fff;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    padding: 1rem;

    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(25%, 25%);
}
.shopCart-empty {
    background-color: #1278de;
    color: #fff;
    font-family: var(--text-color);
    font-size: var(--normal-font-size);
    text-align: center;
    border-radius: 2px;
    padding: 1rem 0;
    width: 80%;
    margin: 2rem auto 0 auto;
}
.shopCart-totalprice {
    text-align: end;
    padding: 20px 20px 0;
    font-family: var(--textFont);
}
.shopCart:hover .shopCart-badge {
    visibility: hidden;
}
/* ===========Shopping cart - menu============= */
.shopCart-menu {
    display: none;
    padding-bottom: 15px;
}
.shopCart:hover .shopCart-menu {
    display: block;
    position: absolute;
    right: -7rem;
    top: 90%;
    z-index: var(--z-tooltip);

    max-height: 400px;
    min-height: 300px;
    min-width: 300px;
    background-color: #fff;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.74);

    overflow: auto;
}
@media (min-width: 400px) {
    .shopCart:hover .shopCart-menu {
        right: -3rem;
    }
}
@media (min-width: 576px) {
    .shopCart:hover .shopCart-menu {
        right: -2rem;
    }
}

.shopCart-menu table {
    text-align: center;
}
.shopCart-menu thead {
    border-bottom: solid 1px #d9dadd;
    padding: 0 1rem;
}

.shopCart-menu th:first-child,
.shopCart-menu th:last-child {
    padding: 12px 15px 5px 12px;
}

.shopCart-menu td {
    border-bottom: solid 1px #d9dadd;
    margin-bottom: 10px;
}
/* ========CART-ITEMS */
.cartItem td {
    padding: 0 10px;
    font-size: var(--smaller-font-size);
    text-align: center;
}
.cartItem-name{
    text-align: left;
}
.cartItem .remove-item {
    background-color: #dd3b3b;
    border-radius: 50%;
    border: none;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    margin-right: 10px;
}
.cartItem .remove-item:hover {
    background-color: #fb0101;
    cursor: pointer;
}
/* ============AUTH========= */

.Auth-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.Auth-container a {
    font-family: var(--textFont);
    color: #5f6368;
    font-weight: 700;
    font-size: 14px;
}
@media (min-width: 480px) {
    .Auth-container a {
        font-size: 16px;
    }
}
.Auth-container a:hover {
    color: #2d6eaf;
}
/* ==========HIGHLIGHTED PRODUCT======= */
.highlighted-products_container{
    margin-bottom: 10rem;
}
.HighlightedProducts {
    margin-top: 3rem;
}

/* ========SHOW PRODUCTS========= */

.showproduct-container {
    width: 100%;
    max-width: 232px;
    height: 100%;
    margin: 0 auto;
    margin-top: 2rem;
    border: 1px solid #ccc;
    transition: 0.4s ease all;
}
.HighlightedProducts-category {
    font-family: var(--textFont);
    color: var(--text-color);
    font-weight: 900;
    font-size: var(--h2-font-size);
    text-transform: capitalize;
    text-align: center;
}
@media (min-width: 570px) {
   .HighlightedProducts-category{
    text-align: start;
   }
}
.showproduct-container:hover {
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.284);
    cursor: pointer;
}
.showproduct-img_container {
    text-align: center;
    background-color: #fff;
}
.showproduct-body_container {
    margin-top: 1rem;
    padding-left: 1rem;
}
.showproduct-title {
    font-family: var(--textFont);
    font-weight: 700;
    color: var(--title-color);
    font-size: var(--noraml-font-size);
    text-align: left;
    text-transform: capitalize;
    height: 3.2rem;
    padding: 1rem 1rem 0.5rem;
}
.percentage-discount {
    color: #25511f;
    font-size: var(--small-font-size);
    font-weight: 700;
}
.price_discount {
    color: #5f6368;
    text-decoration-line: line-through;
    font-size: var(--small-font-size);
    margin: 0;
    padding: 0.5rem 0;
}
.final-price {
    font-family: var(--textFont);
    font-size: var(--small-font-size);
    color: var(--text-color);
}
.final-price span {
    font-weight: 700;
}
.showproduct-btn_container {
    display: grid;
    place-items: center;
    margin: 1rem 0;
}

.showproduct-btn {
    background-color: var(--first-color);
    color: var(--body-color);
    font-size: var(--normal-font-size);
    padding: 0.5rem 1rem;
    min-width: 60%;
    border: none;
    border-radius: 5px;
    outline: none;
    text-decoration: none;
    transition: 0.6s ease all;
}
.showproduct-btn:hover {
    background-color: var(--first-color-alt);
    color: #fff;
    cursor: pointer;
}
/* =====NOTIFICATION====== */

.notification-added {
    position: fixed;
    bottom: 5%;
    left: 5%;
    z-index: var(--z-fixed);
    padding: 1rem;
    background-color: #2e3747;
    color: #fff;
    border-radius: 5px;
    opacity: 0.9;

    display: flex;
    align-items: center;
    gap: 0.5rem;
}
/* ==========AUTH =============== */
.auth-error{
    color: 	#ff3333;
    font-family: var(--textFont);
    font-weight: 400;
    font-size: var(--smaller-font-size);
}

/* ========NEW PRODUCT======== */
/* .newproduct-title{
    margin-top: 5rem;
    text-align: center;
    font-family: var(--textFont);
    font-size: var(--h1-font-size);
} */
.newproduct-form{
    max-width: 600px;
    width: 95%;
    margin: 5rem auto;
}
.newproduct-form fieldset {
    margin: 2rem 0;
    padding: 2rem;
    font-size: var(--h3-font-size);
    border: 1px solid #e1e1e1;
}
.newproduct-field {
    margin-bottom: 2rem;
    display: grid;
    align-items: center;
}
.newproduct-field label{
    flex: 0 0 150px;
    font-size: var(--normal-font-size);
    padding: .5rem 0;
}
@media (min-width: 610px) {
   .newproduct-field{
        display: flex;
   }
   .newproduct-field label {
    padding: 0;
   }
}
.newproduct-field_warranty, 
.newproduct-field_tags{
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
    gap: 1.6rem;
}
@media (min-width: 470px) {
    .newproduct-field_warranty{
        flex-direction: row;
    
   }
}
.newproduct-field_warranty select{
    min-width: 150px;
    font-size: var(--normal-font-size);
    padding: 1rem;
}
.tags-container {
    position: relative;
}
.tags-container input{
    width: 100%;
}
.tags-container button{
    border-radius: 50%;
    border: 1px solid #ccc;
    color: #c0bfbf;
    background-color: transparent;
    position: absolute;
    top: 25%;
    right: 2px;
    padding: 0.2rem;
    width: 2.5rem;
    height: 2.5rem;
    transition: 0.3s ease all;
}
.tags-container button:hover{
    cursor: pointer;
    background-color: #00bcd4;;
    color: #fff;
} 
.current-tags{
    padding: 1rem;
    border: 1px solid #4d4c4c;
    color: #4d4c4c;
    position: relative;
    padding-right: 0;
}
@media (min-width: 470px) {
   .newproduct-field_tags{
        flex-direction: row;
   }
   .tags-container{
        flex: 1;
   }
   .current-tags {
        flex: 0 0 150px;
   }
}
.current-tags li p{
    display: flex;
    justify-content: space-between;
    font-family: var(--textFont);
    align-items: center;
    margin: 0;
}
.current-tags li p {
    margin: 0;
}
.current-tags span {
    color: var(--text-color);
    font-weight: 700;
    font-size: var(--smaller-font-size);
}
.current-tags li p:hover {
    cursor: pointer;
}
.tags-all {
    display: none;
    position: absolute;
    top: 103%;
    right: 0;
    width: 100%;
    border: 1px solid #4d4c4c;
    color: #4d4c4c;
    background-color: #fff;
    font-size: var(--normal-font-size);
    border-radius: 2px 2px 0 0;
}
.show-tags{
    display: initial;
    
}
.show-tags li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2rem 0 .2rem 1rem;
}
.show-tags li:hover{
    background-color: #46a1f2;
    cursor: pointer;
    color: #fff;
}
.icon-arrow{
    fill: #000;
    width: 16px;
    height: 16px;
}
.remove-tags{
   border-radius: 50%;
   background-color: transparent;
   border: none;
   color: #dd3b3b;
   font-weight: bold;
   transition: scale .3s ease all; 
}
.remove-tags:hover{
    cursor: pointer;
    scale: 1.3;
}
.newproduct-field input,
.newproduct-field textarea{
    flex: 1;
    padding: 1rem;
}
.newproduct-field textarea{
    height: 200px;
    resize: none;
}
@media (min-width: 576px) {
   .newproduct-field textarea{
        height: 400px;
   }
}
.newproduct-submit{
    background-color:#00bcd4;
    width: 100%;
    padding: 1.5rem;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    text-transform: uppercase;
    border: none;
    font-family: var(--textFont);
    font-weight: 700;
    transition: .3s ease all;
}
.newproduct-submit:hover{
    cursor: pointer;
    background-color:#2cd3e9;
}
.success-product{
    background-color: #31652a;
}
/* ==========FOOTER============ */
.footer {
    background-color: #34383a;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.284);
    padding-top: 5rem;
}
.footer-box {
    display: grid;
    gap: 1.25rem;
}
.footer-box .header-logo{
    display: inline-block;
    color: #fff;
}
.footer-box .header-logo span {
    color: #00bcd4;
}
.footer-header p{
    color: #fff;
}
@media (min-width: 768px) {
    .footer-box {
        grid-template-columns: repeat(2, 1fr);
    }
}
.networkslinks{
    display: flex;
    gap: .5rem;
}
.icon-linkedin {
    fill: #fff;
    width: 35px;
    height: 35px;
    background-color: #1278de;
}
.icon-whatsapp {
    fill: #fff ;
    width: 35px;
    height: 35px;
    background-color: #58973f;
}
.icon-github {
    fill: #000;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
}
.footer-contact {
    color: #fff;
    display: grid;
    gap: 1rem;
}
.footer-contact h2 {
    font-family: var(--textFont);
    font-weight: 700;
    font-size: var(--h2-font-size);
    text-transform: capitalize;
    margin-bottom: 1.6rem;
    color: #00bcd4;
}

/* =======CARD CONTACT====== */
.contact-card{
    display: grid;
    grid-template-columns: 6% 50%;
    row-gap: 1rem;
    column-gap: 2rem;
    background-color: #3a4145;
    padding: 1.6rem;
    font-family: var(--textFont);
}
.card-icon{
    display: grid;
    text-align: center;
    align-items: center; 
}

.icon-gmail {
    fill: #000;
    width: 30px;
    height: 30px;
}
.icon-map{
    fill: #d73d3d;
    width: 30px;
    height: 30px;
}

.footer-author{
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 3rem;
    font-family: var(--textFont);
}
.footer-author span {
    font-weight: 700;
}