.user_form{
    background: rgb(159,197,217);
    background: linear-gradient(180deg, rgba(159,197,217,1) 2%, rgba(255,255,255,1) 98%);
    height: 100vh;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
}
.form_container{
    padding: 3rem 2rem;
    max-width: 500px;
    width: 95%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
}
.title_login{
    font-family: var(--textFont);
    font-size: var(--h2-font-size);
    padding: 1rem 0;
    margin-bottom: 2rem;
    text-align: center;
    color: var(--text-color);
    font-weight: 700;
}
.form_field{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.form_field:last-of-type{
    margin: 0;
}
.form_field label {
    flex: 0 0 100px;
    font-family: var(--textFont);
    color: var(--text-color);
}
.form_field input[type="password"],
.form_field input[type="email"],
.form_field input[type="text"] {
    border: 1px solid #e1e1e1;
    padding: 10px;
    flex: 1;
}
.btn{
    margin-top: 20px;
    font-family: var(--textFont);
    padding: 1.6rem;
    font-size: var(--h3-font-size);
    font-weight: 400;
    border-radius: 5px;
    border: none;
    transition: .3s ease all;
}
.btn:hover {
    cursor: pointer;
    
}
.btn_primary {
    background-color: #00bcd4;
    color: #fff;
     transition: .3s ease all;
}
.btn_primary:hover {
    background-color: #0fc6de
}
.btn_block{
    display: block;
    width: 100%;
}
.account_link{
    margin-top: 2rem;
    display: inline-block;
    opacity: .7;
    transition: ease all .3s;
    font-size: var(--normal-font-size);
    font-family: var(--textFont);
    font-weight: 700;
    color: var(--text-color);
}
.account_link:hover {
    color: #2d6eaf;
}